</section>
<footer class="footer">
  <div class="container">

    <div class="content has-text-centered">
      <p>
        <strong>Matcha</strong> by lucuzzuc & cfernand.
      </p>
    </div>

  </div>
</footer>
</body>

</html>
