<!DOCTYPE html>
<html>
<head>
	<title>Matcha</title>

	<!--Responsive viewport, needed by Bulma (css framework)-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Compiled SCSS output-->
	<link rel="stylesheet" href="/stylesheets/style.css">

	<!--Bulma css-->
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<!--Font awesome (icons)-->
	<link rel="stylesheet"
	      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
	      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	      crossorigin="anonymous">

	<script defer
	        src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script defer
	        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<script async defer
	        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0xT642auwScQUJuNxtGI1IqA8IGf5tdc"></script>
	<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.core.min.js"></script>
	<script defer src="/js/client.js"></script>
</head>

<body class="site matcha">

<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<div class="navbar-item">
			<a href="/">Matcha</a>
		</div>

		<a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu"
		   aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div class="navbar-menu" id="nav-menu">
		<div class="navbar-end">
			{{#me}}
				<div class="navbar-item">
					<div class="dropdown is-right is-hoverable">
						<div class="dropdown-trigger">
							<button class="button is-outlined is-info is-static" aria-haspopup="true" aria-controls="notifs-menu">
								<span>Notifications (<span class="notifs-count">{{notifs.length}}</span>)</span>
								<span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
							</button>
						</div>

						<div class="dropdown-menu" id="notifs-menu" role="menu">
							<div class="dropdown-content">
								<a id="read-notifs" class="dropdown-item has-text-centered is-hovered has-text-weight-bold">
									Remove all notifications
								</a>

								<div class="notifs">
									{{#notifs}}
										<hr class="dropdown-divider">
										<a href="/user/{{userFrom}}" class="dropdown-item">
											<div><b>{{username}}</b> {{text}}</div>
											<em>on {{formattedDate}}</em>
										</a>
									{{/notifs}}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="navbar-item has-text-right">
					<form action="/logout" method="post">
						<button type="submit" class="button is-danger">Logout</button>
					</form>
				</div>
			{{/me}}
			{{^me}}
				<div class="navbar-item has-text-right">
					<a id="nav-login" class="button modal-button is-success"
					   data-target="#modal-login">Login</a>
				</div>

				<div class="navbar-item has-text-right">
					<form action="/login" method="post">
						<input type="hidden" name="username" value="donato.macejkovic">
						<input type="hidden" name="passwd" value="123">
						<div class="navbar-item has-text-right">
							<button type="submit" class="button is-danger">Login as bisexual female</button>
						</div>
					</form>
				</div>

				<div class="navbar-item has-text-right">
					<form action="/login" method="post">
						<input type="hidden" name="username" value="bfeil">
						<input type="hidden" name="passwd" value="123">
						<div class="navbar-item has-text-right">
							<button type="submit" class="button is-primary">Login as hetero male</button>
						</div>
					</form>
				</div>

				<div class="navbar-item has-text-right">
					<a id="nav-register" class="button modal-button"
					   data-target="#modal-register">Register</a>
				</div>
			{{/me}}
		</div>
	</div>
</nav>

<div id="modal-login" class="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Login</p>
			<button class="delete" aria-label="close"></button>
		</header>

		<form method="POST" action="/login">
			<section class="modal-card-body">
				<!--Username-->
				<div class="field">
					<label class="label">Username</label>
					<div class="control">
						<input name="username" type="text" class="input"
						       placeholder="Username">
					</div>
				</div>
				<!--Password-->
				<div class="field">
					<label class="label">Password</label>
					<div class="control">
						<input name="passwd" type="password" class="input"
						       placeholder="Password">
					</div>
				</div>

				<a href="reset-passwd">Forgot your password?</a>
			</section>

			<footer class="modal-card-foot">
				<!--Login button-->
				<div class="control">
					<button class="button is-success">Login</button>
				</div>
				<!--Cancel button-->
				<div class="control">
					<button class="button is-text">Cancel</button>
				</div>
			</footer>
		</form>
	</div>
</div>

<div id="modal-register" class="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Register</p>
			<button class="delete" aria-label="close"></button>
		</header>

		<form method="POST" action="/register">
			<section class="modal-card-body">
				<!--Username-->
				<div class="field">
					<label class="label">Username</label>
					<div class="control">
						<input name="username" type="text" class="input"
						       placeholder="Username">
					</div>
				</div>
				<!--Gender-->
				<div class="field">
					<label class="label">Gender</label>
					<div class="control">
						<div class="select">
							<select name="gender">
								<option disabled selected>Gender</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
								<option value="X">Non binary</option>
							</select>
						</div>
					</div>
				</div>
				<!--First name-->
				<div class="field">
					<label class="label">First name</label>
					<div class="control">
						<input name="firstname" type="text" class="input"
						       placeholder="First name">
					</div>
				</div>
				<!--Last name-->
				<div class="field">
					<label class="label">Last name</label>
					<div class="control">
						<input name="lastname" type="text" class="input"
						       placeholder="Last name">
					</div>
				</div>
				<!--Password-->
				<div class="field">
					<label class="label">Password</label>
					<div class="control">
						<input name="passwd" type="password" class="input"
						       placeholder="Password">
					</div>
				</div>
				<!--Password confirm-->
				<div class="field">
					<label class="label">Password confirmation</label>
					<div class="control">
						<input name="passwd_confirm" type="password" class="input"
						       placeholder="Password confirmation">
					</div>
				</div>
				<!--Email-->
				<div class="field">
					<label class="label">Email</label>
					<div class="control">
						<input name="email" type="email" class="input"
						       placeholder="Email">
					</div>
				</div>
				<!--Birthdate-->
				<div class="field">
					<label class="label">Birthdate</label>
					<div class="control">
						<input name="birthdate" type="date" class="input"
						       placeholder="Birthdate">
					</div>
				</div>
			</section>

			<footer class="modal-card-foot">
				<!--Register button-->
				<div class="control has-text-centered">
					<button class="button is-success">Register</button>
				</div>

				<!--Cancel button-->
				<div class="control has-text-centered">
					<button class="button is-text">Cancel</button>
				</div>
			</footer>
		</form>
	</div>
</div>

<section class="site-content section">
