{{>header}}

{{#me}}
	<div class="columns">
		{{>user/menu}}

		<div class="column is-9">
			<div class="section is-paddingless">
				<h1 class="title">Welcome to Matcha!</h1>
				<p class="subtitle">The dating site you were looking for</p>
			</div>
		</div>
	</div>
{{/me}}

{{^me}}
	<div class="container">
		<h1 class="title">Welcome to Matcha!</h1>
		<p class="subtitle">The dating site you were looking for</p>
	</div>
{{/me}}

{{>footer}}
