{{>header}}

<div class="container">
	{{^code}}
		<div class="content">
			<p>Enter your email here and we will send you a link you can use to reset your password.</p>

			<div class="columns">
				<div class="column is-6">
					<form method="post" action="reset-passwd">
						<!--Email-->
						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input name="email" type="email" class="input"
								       placeholder="Email">
							</div>
						</div>

						<button type="submit" class="button is-primary">Reset password</button>
					</form>

				</div>
			</div>
		</div>
	{{/code}}

	{{#code}}
		<div class="content">
			<p>Enter your new password.</p>

			<div class="columns">
				<div class="column is-6">
					<form method="post" action="change-passwd">
						<div class="field">
							<label class="label">New password</label>
							<div class="control">
								<input name="passwd" type="password" class="input"
								       placeholder="Password">
							</div>
						</div>

						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input name="passwd_confirm" type="password" class="input"
								       placeholder="Password confirmation">
							</div>
						</div>

						<input name="code" type="hidden" value="{{code}}">

						<button type="submit" class="button is-primary">Change password</button>
					</form>
				</div>
			</div>
		</div>
	{{/code}}
</div>

{{>footer}}
