body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// Trick to push to footer to the bottom (1)
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .site-content {
    flex: 1;
  }
}

// override default Bulma styles
.matcha {
  .modal-card-foot {
    justify-content: flex-end;
  }
}

.menu {
  border-right: 1px solid lightgray;
}

.profile-header {
  margin-bottom: 1rem;

  .profile-header-content {
    align-self: center;
  }
}

.image {
  &.is-rounded {
    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
}

.list-item {
  padding: 5px;
  border: 1px solid lightgrey;

  &+& {
    margin-top: 0.5rem;
  }
}

//.dropdown-content {
//  hr:last-of-type {
//    display: none;
//  }
//}
