body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  .site .site-content {
    flex: 1; }

.matcha .modal-card-foot {
  justify-content: flex-end; }

.menu {
  border-right: 1px solid lightgray; }

.profile-header {
  margin-bottom: 1rem; }
  .profile-header .profile-header-content {
    align-self: center; }

.image.is-rounded img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
  border-radius: 50%; }

.list-item {
  padding: 5px;
  border: 1px solid lightgrey; }
  .list-item + .list-item {
    margin-top: 0.5rem; }

/*# sourceMappingURL=style.css.map */