{{>header}}

<div class="columns">
	{{>user/menu}}

	<div class="column is-9">
		These persons get reported!

		<div>
			{{#list}}
				<div class="list-item">
					<a href="/user/{{id}}">
						<div class="media">
							<div class="media-left">
								<figure class="image is-64x64 is-rounded">
									<img src="https://bulma.io/images/placeholders/128x128.png">
								</figure>
							</div>
							<div class="media-content">
								<div>{{userTo}} get reported {{reports}} times</div>
								<a href="/user/admin-panel?id={{userTo}}&action=deactivate">deactivate the account</a> |
								<a href="/user/admin-panel?id={{userTo}}&action=reset">cancel reports</a>
							</div>
						</div>
					</a>
				</div>
			{{/list}}
		</div>
	</div>
</div>


{{>footer}}
