{{>header}}

<div class="columns">
  {{>user/menu}}

  <div class="column is-9 user-edit">
    <div class="section is-paddingless">
      <div class="title is-size-4">Your photos</div>
      <div class="columns">
        {{#me.images}}
          <div class="column">
            <figure class="image is-128x128" data-target="{{imageIndex}}">
              <img src="{{path}}">
            </figure>

            {{^isProfile}}
              <form action="/user/image/set-profile" method="post">
                <input name="image-index" type="text" hidden value="{{imageIndex}}">
                <button type="submit">Set as profile</button>
              </form>
            {{/isProfile}}
          </div>
        {{/me.images}}
      </div>

      <form action="/user/image/upload" method="post" id="form-1"
            enctype="multipart/form-data">
        <input hidden type="text" name="imageIndex" value="1"/>
        <input hidden type="file" name="upload">
        <input hidden type='submit' value='Upload!'>
      </form>
      <form action="/user/image/upload" method="post" id="form-2"
            enctype="multipart/form-data">
        <input hidden type="text" name="imageIndex" value="2">
        <input hidden type="file" name="upload">
        <input hidden type='submit' value='Upload!'>
      </form>
      <form action="/user/image/upload" method="post" id="form-3"
            enctype="multipart/form-data">
        <input hidden type="text" name="imageIndex" value="3">
        <input hidden type="file" name="upload">
        <input hidden type='submit' value='Upload!'>
      </form>
      <form action="/user/image/upload" method="post" id="form-4"
            enctype="multipart/form-data">
        <input hidden type="text" name="imageIndex" value="4">
        <input hidden type="file" name="upload">
        <input hidden type='submit' value='Upload!'>
      </form>
      <form action="/user/image/upload" method="post" id="form-5"
            enctype="multipart/form-data">
        <input hidden type="text" name="imageIndex" value="5">
        <input hidden type="file" name="upload">
        <input hidden type='submit' value='Upload!'>
      </form>
    </div>

    <hr>

    <div class="section is-paddingless">
      <!--Interests-->
      <div class="title is-size-4">Your interests</div>
      <form method="post" action="/user/tags/add" class="field has-addons">
        <div class="control">
          <input name="tag" class="input" type="text"
                 placeholder="Add an interest">
        </div>
        <div class="control">
          <input type="submit" class="button is-outlined" value="Add">
        </div>
      </form>

      <div class="field is-grouped is-grouped-multiline">
        {{#me.tags}}
          <div class="control">
            <div class="tags has-addons">
              <div class="tag is-primary is-medium">#{{tagName}}</div>

              <div class="tag is-delete is-medium"
                   id="{{userTagId}}">
              </div>
            </div>
          </div>
        {{/me.tags}}
      </div>
    </div>

    <hr>

    <div class="section is-paddingless">
      <div class="title is-size-4">Your public informations</div>
      <form method="POST">
        <!--Username-->
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input name="username" type="text" class="input"
                   placeholder="Username" disabled value="{{me.username}}">
          </div>
        </div>
        <!--Gender-->
        <div class="field">
          <label class="label">Gender</label>
          <div class="control">
            <div class="select">
              <select name="gender">
                {{#ui.gender.options}}
                  <option
                    value="{{value}}" {{ui.gender.selected}}>{{text}}</option>
                {{/ui.gender.options}}
              </select>
            </div>
          </div>
        </div>
        <!--Orientation-->
        <div class="field">
          <label class="label">Orientation</label>
          <div class="control">
            <div class="select">
              <select name="orientation">
                {{#ui.orientation.options}}
                  <option
                    value="{{value}}" {{ui.orientation.selected}}>{{text}}</option>
                {{/ui.orientation.options}}
              </select>
            </div>
          </div>
        </div>
        <!--City-->
        <div class="field">
          <label class="label">City</label>
          <div class="control">
            <input name="city" type="text" class="input"
                   placeholder="City" value="{{me.city}}">
          </div>
        </div>
        <!--First name-->
        <div class="field">
          <label class="label">First name</label>
          <div class="control">
            <input name="firstname" type="text" class="input"
                   placeholder="First name" value="{{me.firstname}}">
          </div>
        </div>
        <!--Last name-->
        <div class="field">
          <label class="label">Last name</label>
          <div class="control">
            <input name="lastname" type="text" class="input"
                   placeholder="Last name" value="{{me.lastname}}">
          </div>
        </div>
        <!--Biography-->
        <div class="field">
          <label class="label">Biography</label>
          <div class="control">
          <textarea name="biography" class="textarea" placeholder="Biography"
                    rows="10">{{me.biography}}</textarea>
          </div>
        </div>
        <div class="buttons is-right">
          <button class="button is-success" type="submit">Save</button>
        </div>
      </form>
    </div>

    <hr>

    <div class="section is-paddingless">
      <div class="title is-size-4">Account settings (private)</div>
      <!--Password-->
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input name="passwd" type="password" class="input"
                 placeholder="Password">
        </div>
      </div>
      <!--Email-->
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input name="email" type="email" class="input"
                 placeholder="Email">
        </div>
      </div>
    </div>
  </div>
</div>


{{>footer}}
