{{>header}}

<div class="columns">
	{{>user/menu}}

	<div class="column is-9">
		These persons liked you!

		<div>
			{{#likes}}
				<div class="list-item">
					<a href="/user/{{id}}">
						<div class="media">
							<div class="media-left">
								<figure class="image is-64x64 is-rounded">
									<img src="https://bulma.io/images/placeholders/128x128.png">
								</figure>
							</div>
							<div class="media-content">
								<div>{{username}} from {{location}}</div>
								<em>On {{formattedDate}}</em>
							</div>
						</div>
					</a>
				</div>
			{{/likes}}
		</div>
	</div>
</div>


{{>footer}}
