{{>header}}

<div class="columns">
	{{>user/menu}}

	<div class="column is-9">
		My matches

		{{#matches}}
			<div class="list-item">
				<a href="/user/chat/{{id}}">
					<div class="media">
						<div class="media-left">
							<figure class="image is-64x64 is-rounded">
								<img src="https://bulma.io/images/placeholders/128x128.png">
							</figure>
						</div>
						<div class="media-content">
							<div>{{username}}</div>
							<em>{{location}}</em>
						</div>
					</div>
				</a>
			</div>
		{{/matches}}
	</div>
</div>


{{>footer}}
