<aside class="menu column is-3 is-fullheight">
  {{#menu}}
    <p class="menu-label">{{name}}</p>
    {{#items}}
      <ul class="menu-list">
        <li><a href="{{href}}" {{#active}}class="is-active"{{/active}}>
            <span class="icon is-small">
              <i class="{{icon}}"></i>
            </span>
          <span>{{text}}</span>
        </a></li>
      </ul>
    {{/items}}
  {{/menu}}
</aside>
