{{>header}}

<div class="columns">
	{{>user/menu}}

	<div class="column is-9">
		<div class="section is-paddingless">
			<div class="media profile-header">
				<figure class="media-left image is-128x128 is-rounded">
					{{#user.images}}
						{{#isProfile}}
							<img src="{{path}}">
						{{/isProfile}}
					{{/user.images}}
				</figure>

				<div class="media-content profile-header-content">
					<div class="content">
						{{#user.connected}}
							CONNECTED
						{{/user.connected}}
						{{^user.connected}}
							DISCONNECTED
							{{^user.me}}
								(Last seen on {{user.lastConnection}})
							{{/user.me}}
						{{/user.connected}}

						<div class="title is-size-4">{{user.username}}, {{user.age}}</div>
						<p class="subtitle">{{user.city}}</p>
						<p class="subtitle">
							<span class="icon is-small" style="margin-right: 5px"><i class="fas fa-trophy"></i></span>
							{{user.popularity}}
						</p>

						{{^user.me}}
							{{#user.liked}}
								<form method="post" action="/user/likes/unLike">
									<input type="hidden" name="userTo" value="{{user.id}}">
									<button type="submit" class="button is-danger">
										<span>Unlike</span>
										<span class="icon is-small"> <i class="fas fa-heart"></i> </span>
									</button>
								</form>
							{{/user.liked}}
							{{^user.liked}}
								<form method="post" action="/user/likes/add">
									<input type="hidden" name="userTo" value="{{user.id}}">
									<button type="submit" class="button is-danger is-outlined">
										<span>Like</span>
										<span class="icon is-small"> <i class="far fa-heart"></i> </span>
									</button>
								</form>
							{{/user.liked}}

							{{#user.matched}}
								Matched
							{{/user.matched}}
							{{^user.matched}}
								Not matched
							{{/user.matched}}
						{{/user.me}}
						<div>
							<a href="/user/block?id={{user.id}}">block this user</a> |
							<a href="/user/report?id={{user.id}}">report this user</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="section is-paddingless">
			<div class="content">
				<h4>Interests</h4>

				<div class="field is-grouped is-grouped-multiline">
					{{#user.tags}}
						<div class="control">
							<div class="tags has-addons">
								<div class="tag is-primary is-medium">#{{tagName}}</div>
							</div>
						</div>
					{{/user.tags}}
				</div>

			</div>
		</div>

		<hr>

		<div class="section is-paddingless">
			<div class="content">
				<h4>Photos</h4>
			</div>
			<div class="columns">
				{{#user.images}}
					<div class="column is-one-fifth">
						<figure class="image is-128x128">
							<img src="{{path}}">
						</figure>
					</div>
				{{/user.images}}
			</div>
		</div>

		<hr>

		<div class="section is-paddingless">
			<div class="content">
				<h4>Details</h4>

				<div class="columns">
					<div class="column is-3">
						<div class="content">
							<strong>First name</strong>
							<p>{{user.firstname}}</p>

							<strong>Last name</strong>
							<p>{{user.lastname}}</p>

							<strong>City</strong>
							<p>{{user.city}}</p>

							<strong>Gender</strong>
							<p>{{user.gender}}</p>

							<strong>Orientation</strong>
							<p>{{user.orientation}}</p>
						</div>
					</div>

					<div class="column is-9">
						<strong>Biography</strong>
						<p>{{user.biography}}</p>
					</div>
				</div>
			</div>

		</div>

	</div> <!-- end of .column.is-9 -->


</div>


{{>footer}}
