{{>header}}

<div class="columns">
	{{>user/menu}}

	<div class="column is-9">

		<div class="columns">

			<div class="column">
				Search new people

				<form action="/user/search">
					<div class="field">
						<label class="label">Min age</label>
						<div class="control">
							<input type="number" name="min-age" min="13" max="150">
						</div>
					</div>
					<div class="field">
						<label class="label">Max age</label>
						<input type="number" name="max-age" min="13" max="150">
					</div>
					<div class="field">
						<label class="label">Min popularity</label>
						<input type="number" name="min-popularity" min="0" max="99">
					</div>
					<div class="field">
						<label class="label">Max popularity</label>
						<input type="number" name="max-popularity" min="0" max="99">
					</div>
					<div class="field">
						<label class="label">Location</label>
						<input type="text" name="location">
					</div>
					<div class="field">
						<label class="label">Tags</label>
						<div id="search-tags-input" class="field is-grouped">
							<div class="control">
								<input class="input" type="text" name="tag"
								       placeholder="Add an interest">
							</div>
							<div class="button is-outlined" id="add-button">Add</div>
						</div>
					</div>

					<div class="control">
						<div id="search-tags"> </div>
					</div>

					<button class="button is-primary" type="submit">Search</button>
				</form>
			</div>

			<div class="column">
				<div class="field">
					<label class="label">Sort results by</label>
					<div class="control">
						<div class="select">
							<select name="sort">
								<option value=""></option>
								<option value="interest">Interests in common</option>
								<option value="age">Age</option>
								<option value="popularity">Popularity</option>
								<option value="location">Location</option>
							</select>
						</div>
					</div>
				</div>
			</div> <!-- end of div.column (right column) -->

		</div> <!-- end of div.columns -->


		{{#suggestions}}
			<div class="list-item">
				<a href="/user/{{id}}">
					<div class="media">
						<div class="media-left">
							<figure class="image is-64x64 is-rounded">
								<img src="https://bulma.io/images/placeholders/128x128.png">
							</figure>
						</div>
						<div class="media-content">
							<div>{{username}}, {{age}} - {{matchScore.total}}%</div>
							<p>
								location: {{matchScore.location}}%
								interest: {{matchScore.interest}}%
								popularity: {{matchScore.popularity}}%
								orientation: {{matchScore.orientation}}%
							</p>
						</div>
					</div>
				</a>
			</div>
		{{/suggestions}}
	</div>
</div>


{{>footer}}
