<html>
<body>
<form ref='uploadForm'
      id='uploadForm'
      action='/user/image/upload'
      method='post'
      enctype="multipart/form-data">
    <input type="file" name="upload" />
    <input type='submit' value='Upload!' />
</form>
</body>
</html>
